<div
  class="contenedor card flex justify-center items-center w-[161px] h-[121px] hover:bg-html bg-transparent border-html border-2 shadow-xl rounded-xl self-start transition-all duration-500 ease-in-out"
>
  <svg
    width="82"
    height="92"
    viewBox="0 0 82 92"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M80.5 1H1L8 81.5L40.5 90.5L73 81.5L80.5 1Z" fill="#E34F26"></path>
    <path d="M40.9609 82.4648L67.1523 75.2578L73.3047 6H40.9609" fill="#EF652A"
    ></path>
    <path
      d="M40.9609 36.0586H27.7773L26.8984 25.8633H40.9609V16.0195H16L18.6367 46.0781H40.9609V36.0586ZM40.9609 61.8984L29.7109 58.9102L29.0078 51H19.1641L20.3945 66.6445L40.9609 72.2695V61.8984Z"
      fill="#ECEDEE"></path>
    <path
      d="M40.9609 46.0781H53.0898L51.8594 58.9102L40.9609 61.8984V72.2695L61.1758 66.6445L63.9883 36.0586H40.9609V46.0781ZM40.9609 16.0195V25.8633H64.8672L65.7461 16.0195H40.9609Z"
      fill="white"></path>
  </svg>
</div>

<style>
  .contenedor:hover svg {
    stroke: white !important;
    transition: all 0.5s ease-in-out;
  }
</style>
