<div
  class="contenedor card flex justify-center items-center w-[161px] h-[121px] hover:bg-black bg-transparent border-white hover:border-black border-2 shadow-xl rounded-xl self-start transition-all duration-500 ease-in-out"
>
  <svg
    width="90"
    height="90"
    viewBox="0 0 90 90"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M45 90C69.8528 90 90 69.8528 90 45C90 20.1472 69.8528 0 45 0C20.1472 0 0 20.1472 0 45C0 69.8528 20.1472 90 45 90Z"
      fill="#E2E2E2"></path>
    <path
      d="M45 90C69.8528 90 90 69.8528 90 45C90 20.1472 69.8528 0 45 0C20.1472 0 0 20.1472 0 45C0 69.8528 20.1472 90 45 90Z"
      fill="black"></path>
    <path
      d="M74.7541 78.7598L34.5709 27H27V62.9849H33.0567V34.6922L69.9996 82.4224C71.6639 81.3084 73.2523 80.0848 74.7541 78.7598Z"
      fill="#E2E2E2"></path>
    <path d="M57.5002 27H63.5003V63H57.5002V27Z" fill="#E2E2E2"></path>
  </svg>
</div>

<style>
  .contenedor:hover svg {
    stroke: #fff;
    transition: all 0.5s ease-in-out;
  }
</style>
