<div
  class="contenedor card flex justify-center items-center w-[161px] h-[121px] hover:bg-css bg-transparent border-css border-2 shadow-xl rounded-xl self-start transition-all duration-500 ease-in-out"
>
  <svg
    width="80"
    height="91"
    viewBox="0 0 80 91"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M79 1H1L8 80.5L39.5 90L72 80.5L79 1Z"
      fill="#0C73B8"
      stroke="#0C73B8"></path>
    <path d="M39.5769 83.2885L65.3654 76.1923L71.4231 8H39.5769" fill="#30A9DC"
    ></path>
    <path
      d="M39.5769 37.5961H16.7308L17.5962 47.4615H39.5769V37.5961ZM39.5769 17.8654H15L15.8654 27.5577H39.5769V17.8654ZM39.5769 63.0384L18.1154 57.3269L19.3269 67.7115L39.5769 73.25V63.0384Z"
      fill="#ECEDEE"></path>
    <path
      d="M39.5769 47.4615H51.5192L50.3077 60.0961L39.5769 63.0384V73.25L59.4807 67.7115L63.9807 17.8654H39.5769V27.5577H53.4231L52.3846 37.5961H39.5769V47.4615Z"
      fill="white"></path>
  </svg>
</div>

<style>
  .contenedor:hover svg {
    stroke: #fff !important;
    transition: all 0.5s ease-in-out;
  }
</style>
