<div
  class="contenedor card flex justify-center items-center w-[161px] h-[121px] hover:bg-material bg-transparent border-material hover:border-material border-2 shadow-xl rounded-xl self-start transition-all duration-500 ease-in-out"
>
  <svg
    width="105"
    height="90"
    viewBox="0 0 105 90"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M88.0459 61.4546C88.4796 61.2005 88.8393 60.8381 89.0897 60.4034C89.3401 59.9686 89.4725 59.4763 89.4739 58.975L89.5555 42.2273C89.5555 41.211 90.0859 40.2354 90.9835 39.7476L100.082 34.5445C100.521 34.2869 101.021 34.1495 101.531 34.146C102.041 34.1426 102.542 34.2732 102.985 34.5248C103.428 34.7763 103.797 35.1399 104.053 35.5787C104.31 36.0176 104.446 36.5162 104.447 37.0241V67.4302C104.447 68.4871 103.876 69.4627 102.979 69.9505L68.6252 89.625C68.1897 89.8708 67.6978 90 67.1972 90C66.6967 90 66.2047 89.8708 65.7692 89.625L38.7598 74.2593C38.3125 74.0069 37.9408 73.6404 37.6827 73.1975C37.4245 72.7546 37.2894 72.2512 37.291 71.739V56.4141H37.3318V56.3734L37.3726 56.3328L59.6085 43.6094V43.5687H59.5677V28.4876C59.5693 27.9822 59.4377 27.4852 59.186 27.0464C58.9343 26.6076 58.5713 26.2423 58.1334 25.9872C57.6956 25.732 57.1981 25.5958 56.6908 25.5924C56.1836 25.5889 55.6843 25.7182 55.2429 25.9674L38.8006 35.4794C38.3602 35.7327 37.8607 35.8661 37.3522 35.8661C36.8437 35.8661 36.3442 35.7327 35.9038 35.4794L19.3391 25.9674C18.8967 25.708 18.3931 25.5704 17.8798 25.5687C17.3665 25.567 16.8619 25.7013 16.4178 25.9577C15.9737 26.2141 15.6059 26.5834 15.3521 27.028C15.0983 27.4725 14.9677 27.9763 14.9735 28.4876V55.6417C14.9751 56.1471 14.8435 56.6441 14.5918 57.0829C14.3401 57.5218 13.9772 57.887 13.5393 58.1422C13.1014 58.3974 12.6039 58.5335 12.0967 58.537C11.5894 58.5405 11.0901 58.4112 10.6487 58.162L1.46879 52.8775C1.03342 52.632 0.669296 52.2782 0.411895 51.8508C0.154494 51.4234 0.0125886 50.9368 0 50.4385L0.0815995 2.91891C0.0757704 2.40753 0.206429 1.90379 0.460203 1.45925C0.713976 1.01471 1.08175 0.645331 1.52588 0.388931C1.97001 0.13253 2.47455 -0.00168712 2.98784 1.60089e-05C3.50114 0.00171913 4.00477 0.139282 4.44718 0.398624L35.863 18.4065C36.3082 18.6674 36.8153 18.805 37.3318 18.805C37.8483 18.805 38.3554 18.6674 38.8006 18.4065L70.1756 0.439274C70.618 0.179932 71.1216 0.0423689 71.6349 0.0406658C72.1482 0.0389627 72.6528 0.17318 73.0969 0.429581C73.541 0.685981 73.9088 1.05536 74.1626 1.4999C74.4164 1.94444 74.547 2.44818 74.5412 2.95956V50.4385C74.5412 51.4548 74.0108 52.4304 73.0724 52.9182L56.7117 62.3896C56.2711 62.6428 55.9052 63.0072 55.6508 63.4461C55.3964 63.8849 55.2624 64.3828 55.2624 64.8895C55.2624 65.3963 55.3964 65.8942 55.6508 66.3331C55.9052 66.7719 56.2711 67.1363 56.7117 67.3895L65.81 72.552C66.2455 72.7979 66.7375 72.9271 67.238 72.9271C67.7386 72.9271 68.2305 72.7979 68.666 72.552L88.0867 61.4546H88.0459ZM89.9227 18.8536C89.927 19.3642 90.0672 19.8645 90.3289 20.3035C90.5907 20.7425 90.9646 21.1044 91.4126 21.3524C91.8606 21.6003 92.3666 21.7255 92.8789 21.715C93.3913 21.7045 93.8917 21.5587 94.3291 21.2926L103.019 16.1301C103.453 15.8759 103.813 15.5136 104.063 15.0788C104.314 14.644 104.446 14.1517 104.447 13.6505V3.04086C104.45 2.52684 104.315 2.02136 104.057 1.57668C103.798 1.132 103.425 0.764253 102.975 0.511456C102.526 0.258659 102.017 0.129985 101.501 0.138734C100.986 0.147483 100.481 0.293339 100.041 0.561223L91.3915 5.7644C90.9637 6.01503 90.6077 6.37094 90.3577 6.79802C90.1076 7.22511 89.9719 7.70903 89.9635 8.20339V18.8536H89.9227Z"
      fill="#007FFF"></path>
  </svg>
</div>

<style>
  .contenedor:hover path {
    fill: #fff;
    transition: all 0.5s ease-in-out;
  }
</style>
