---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Clients from "../components/Clients.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Gabo | FrontEnd Dev & UI Designer">
  <main>
    <Hero />
    <Clients />
    <Skills />
  </main>
</Layout>
