---
import Button from "./Button.astro";
---

<header
  class="flex justify-between items-center py-1 md:w-[760px] lg:w-[1024px] xl:w-[1280px] w-screen px-5 sticky top-0 z-50 bg-background"
>
  <a href="/">
    <img class="h-10" src="/img/Logo.svg" alt="Logo Gabo" />
  </a>
  <nav>
    <ul class="hidden sm:flex">
      <li><Button>contacto</Button></li>
    </ul>
  </nav>
</header>
