<div
  class="contenedor card flex justify-center items-center w-[161px] h-[121px] hover:bg-dale bg-transparent border-dale border-2 shadow-xl rounded-xl self-start transition-all duration-500 ease-in-out"
>
  <svg
    width="125"
    height="39"
    viewBox="0 0 125 39"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M39.4375 31.28C35.9175 31.28 33.5855 28.326 33.5855 24.858C33.5855 21.388 35.9155 18.434 39.4375 18.434C41.8715 18.434 43.2695 19.47 44.3575 20.87V28.794C43.2695 30.24 41.8715 31.28 39.4375 31.28ZM51.2235 0H45.3135C45.0603 -5.54087e-07 44.8174 0.100446 44.6382 0.279298C44.459 0.458151 44.358 0.7008 44.3575 0.954V13.514C42.9595 12.274 40.8875 11.34 38.2455 11.34C30.5815 11.34 25.5055 17.606 25.5055 24.858C25.5055 32.108 30.5815 38.372 38.2455 38.372C40.8855 38.372 42.9595 37.442 44.3575 36.146V36.846C44.3575 37.374 44.7855 37.802 45.3135 37.802H51.2235C51.4767 37.802 51.7196 37.7016 51.8988 37.5227C52.078 37.3438 52.179 37.1012 52.1795 36.848V0.954C52.179 0.7008 52.078 0.458151 51.8988 0.279298C51.7196 0.100446 51.4767 -5.54087e-07 51.2235 0ZM87.1775 0H93.0855C93.6135 0 94.0415 0.428 94.0415 0.956V36.848C94.041 37.1012 93.94 37.3438 93.7608 37.5227C93.5816 37.7016 93.3387 37.802 93.0855 37.802H87.1775C86.9243 37.802 86.6814 37.7016 86.5022 37.5227C86.323 37.3438 86.222 37.1012 86.2215 36.848V0.956C86.2215 0.428 86.6495 0 87.1775 0ZM69.7595 31.28C66.2395 31.28 63.9095 28.326 63.9095 24.858C63.9095 21.388 66.2395 18.434 69.7615 18.434C72.1955 18.434 73.5935 19.47 74.6815 20.87V28.794C73.5935 30.24 72.1935 31.28 69.7595 31.28ZM82.5035 12.848C82.5035 12.5945 82.4028 12.3513 82.2235 12.172C82.0442 11.9927 81.801 11.892 81.5475 11.892H75.6375C75.5119 11.8917 75.3875 11.9163 75.2713 11.9642C75.1552 12.0122 75.0497 12.0826 74.9609 12.1714C74.8721 12.2602 74.8017 12.3657 74.7537 12.4818C74.7058 12.5979 74.6812 12.7224 74.6815 12.848V13.514C73.2815 12.274 71.2115 11.34 68.5695 11.34C60.9055 11.34 55.8295 17.606 55.8295 24.858C55.8295 32.108 60.9055 38.372 68.5695 38.372C71.2095 38.372 73.2835 37.442 74.6815 36.146V36.846C74.6815 37.374 75.1075 37.802 75.6375 37.802H81.5475L81.5535 37.8L81.5635 37.802C82.0815 37.802 82.5015 37.382 82.5015 36.866L82.5035 12.848Z"
      fill="#02ABD2"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M104.521 22.452C105.291 19.166 107.705 17.268 111.247 17.268C114.275 17.268 116.841 18.962 117.613 22.452H104.521ZM111.245 11.312C107.296 11.312 104.007 12.596 101.495 15.212C98.9755 17.782 97.6935 21.016 97.6955 24.866C97.6955 28.766 98.9775 32 101.546 34.57C104.112 37.136 107.499 38.418 111.761 38.42C116.317 38.42 119.865 36.84 122.361 33.718C122.438 33.6221 122.493 33.5108 122.523 33.3917C122.552 33.2726 122.556 33.1485 122.533 33.0279C122.51 32.9073 122.462 32.793 122.391 32.693C122.32 32.5929 122.228 32.5093 122.121 32.448L118.539 30.382C118.297 30.2387 118.015 30.178 117.735 30.209C117.455 30.2401 117.193 30.3611 116.987 30.554C115.729 31.782 113.999 32.414 111.861 32.414C107.91 32.414 105.497 30.822 104.625 27.588H121.537C123.025 27.588 124.233 26.382 124.233 24.894V24.868C124.233 21.018 123.001 17.834 120.537 15.216C118.125 12.596 114.993 11.314 111.245 11.312Z"
      fill="#02ABD2"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.9895 37.4521C2.39797 37.452 1.81976 37.2764 1.32802 36.9476C0.836287 36.6188 0.453131 36.1515 0.227033 35.6049C0.00093402 35.0583 -0.0579466 34.4569 0.0578407 33.8768C0.173628 33.2967 0.45888 32.764 0.877504 32.3461L8.0215 25.2081L0.887504 18.0761C0.609758 17.7984 0.389413 17.4688 0.239047 17.1061C0.0886822 16.7433 0.0112424 16.3545 0.0111495 15.9618C0.010962 15.1687 0.325837 14.408 0.886504 13.8471C1.44717 13.2861 2.20771 12.9709 3.0008 12.9707C3.79389 12.9705 4.55457 13.2854 5.1155 13.8461L14.3655 23.0981C14.6435 23.3757 14.864 23.7055 15.0143 24.0685C15.1647 24.4315 15.242 24.8206 15.2418 25.2135C15.2417 25.6064 15.164 25.9954 15.0133 26.3582C14.8625 26.7211 14.6417 27.0506 14.3635 27.3281L5.0995 36.5781C4.5195 37.1601 3.7535 37.4521 2.9895 37.4521Z"
      fill="#02ABD2"></path>
  </svg>
</div>

<style>
  .contenedor:hover path {
    fill: white !important;
    transition: all 0.5s ease-in-out;
  }
</style>
