<div
  class="contenedor card flex justify-center items-center w-[161px] h-[121px] hover:bg-wom bg-transparent border-wom border-2 shadow-xl rounded-xl self-start transition-all duration-500 ease-in-out"
>
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M30.45 34.3445C28.9072 34.832 28.6823 33.8255 28.4894 32.1273L28.1305 28.9453C27.9376 27.2418 27.9216 26.1704 29.4644 25.6829C31.0018 25.1954 31.2268 26.2025 31.4196 27.906L31.7839 31.0875C31.9768 32.7916 31.9875 33.863 30.45 34.3445Z"
      fill="#764ABC"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M39.0158 58.6061C54.8134 53.6242 63.5822 36.782 58.6061 20.9844C53.6242 5.18676 36.782 -3.58254 20.9844 1.39406C5.18676 6.37601 -3.58254 23.2182 1.39406 39.0158C6.37601 54.8134 23.2182 63.5822 39.0158 58.6061ZM53.6509 30.5625C54.0907 30.4233 54.2188 30.1072 53.9938 29.6947L47.228 17.1541C47.0512 16.822 46.7453 16.7095 46.3709 16.8274L43.4299 17.7541C43.0603 17.872 42.8889 18.1344 42.9151 18.5148L43.387 23.9949C43.4079 24.2199 43.2424 24.2681 43.1347 24.0753L40.3764 19.313C40.1831 18.9862 39.8943 18.8683 39.5188 18.9862L36.5837 19.913C36.2088 20.0308 36.0159 20.2987 36.0641 20.6736L37.7087 34.8267C37.7623 35.2927 38.051 35.4754 38.4903 35.3415L40.9657 34.5588C41.3402 34.441 41.555 34.1672 41.4848 33.7981L39.9318 24.7396C39.9104 24.5199 40.077 24.4663 40.1836 24.6646L44.3192 32.9089C44.49 33.2415 44.8013 33.3487 45.1709 33.2303L46.9655 32.6684C47.3405 32.55 47.5339 32.2821 47.4797 31.9077L46.1405 22.7843C46.1137 22.5646 46.2857 22.5111 46.3923 22.7093L50.3136 31.0179C50.4689 31.3607 50.7962 31.4625 51.1707 31.3393L53.6509 30.5625ZM6.00634 30.3054C5.78135 29.8929 5.90991 29.5768 6.34918 29.4376L8.82944 28.6608C9.20443 28.543 9.5312 28.6447 9.68655 28.9822L13.6078 37.2962C13.715 37.489 13.881 37.4355 13.8596 37.2164L12.5204 28.093C12.4722 27.718 12.6597 27.4501 13.0346 27.3323L14.8239 26.7698C15.1988 26.652 15.5095 26.7591 15.6863 27.0966L19.8165 35.3414C19.9237 35.5338 20.0897 35.4807 20.0683 35.2611L18.5148 26.2025C18.4451 25.8329 18.6594 25.5597 19.0344 25.4418L21.5147 24.6651C21.9486 24.5258 22.2379 24.7079 22.2914 25.174L23.936 39.3324C23.9842 39.7015 23.7914 39.9693 23.4164 40.0877L20.4808 41.0144C20.1058 41.1318 19.8219 41.0144 19.6237 40.6877L16.8649 35.9254C16.7577 35.7325 16.5916 35.7855 16.6131 36.0052L17.0845 41.4907C17.1113 41.871 16.9398 42.1281 16.5649 42.2455L13.6293 43.1722C13.2543 43.2906 12.9489 43.1829 12.7722 42.846L6.00634 30.3054ZM29.0305 21.879C24.0914 23.4378 24.2467 27.4395 24.4128 28.9019L25.0449 34.4254C25.211 35.8831 25.9454 39.7015 30.8791 38.1485C35.8177 36.595 35.6629 32.588 35.4963 31.1304L34.8695 25.6074C34.7029 24.1449 33.9642 20.3254 29.0305 21.879Z"
      fill="#764ABC"></path>
  </svg>
</div>

<style>
  .contenedor:hover path {
    fill: white !important;
    transition: all 0.5s ease-in-out;
  }
</style>
