<div
  class="contenedor card flex justify-center items-center w-[161px] h-[121px] hover:bg-ntt bg-transparent border-ntt border-2 shadow-xl rounded-xl self-start transition-all duration-500 ease-in-out"
>
  <svg
    width="110"
    height="60"
    viewBox="0 0 110 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M30.287 0.301991V6.27444H39.3711V28.6266H45.8034V6.27444H54.8875V0.301991H30.287Z"
      fill="#0072BB"></path>
    <path
      d="M46.82 31.6754H30.6191V37.6964H46.3811C48.7039 37.6964 49.6036 38.7557 49.6036 41.4541V42.4635H36.5305C31.5555 42.4635 29.0867 44.9444 29.0867 50.5641V51.903C29.0867 57.6784 31.6527 60 36.8113 60H55.9761V41.3837C55.9761 34.2572 53.6169 31.6754 46.82 31.6754ZM37.4803 53.945C36.5062 53.945 35.4128 53.4598 35.4128 51.0251C35.4128 48.5929 36.4807 48.1673 37.4803 48.1673H49.6036V53.9451L37.4803 53.945Z"
      fill="#0072BB"></path>
    <path
      d="M100.231 31.6754H84.0335V37.6964H99.8052C102.115 37.6964 103.015 38.7557 103.015 41.4541V42.4635H89.9549C84.9797 42.4635 82.5012 44.9444 82.5012 50.5641V51.903C82.5012 57.6784 85.0671 60 90.2224 60H109.387V41.3837C109.387 34.2572 107.028 31.6754 100.231 31.6754ZM90.8911 53.945C89.9173 53.945 88.8251 53.4598 88.8251 51.0251C88.8251 48.5929 89.8952 48.1673 90.8911 48.1673H103.015V53.9451L90.8911 53.945Z"
      fill="#0072BB"></path>
    <path
      d="M56.9304 0.301991V6.27444H66.0145V28.6266H72.4624V6.27444H81.5468V0.301991H56.9304Z"
      fill="#0072BB"></path>
    <path
      d="M57.265 31.6754V37.6479H66.3491V60H72.781V37.6479H81.8655V31.6754H57.265Z"
      fill="#0072BB"></path>
    <path
      d="M26.5964 50.0784V41.601C26.5964 34.1937 23.7263 31.6885 17.2324 31.6885H0V59.9997H17.5341C24.4171 59.9997 26.5964 56.5723 26.5964 50.0784ZM20.0281 50.2124C20.0281 52.911 19.1162 53.9701 16.8056 53.9701H6.44409V37.7097H16.8056C19.1162 37.7097 20.0281 38.7677 20.0281 41.4916V50.2124Z"
      fill="#0072BB"></path>
    <path
      d="M21.2025 21.8764C21.0687 21.6212 12.483 4.87534 11.4239 3.22252C10.21 1.32656 8.73744 0 5.91715 0C3.28927 0 0.176024 1.15501 0.176024 7.46556V28.6393H6.51209V10.9801C6.51209 9.71655 6.44033 7.83043 6.42695 7.45341C6.4148 7.13845 6.42695 6.84658 6.58625 6.76147C6.75409 6.64958 6.93774 6.82105 7.07148 7.05212C7.19312 7.29775 15.1575 23.056 16.8598 25.7182C18.065 27.6299 19.5499 28.9432 22.37 28.9432C24.998 28.9432 28.0989 27.7757 28.0989 21.4751V0.301363H21.7629V17.9606C21.7629 19.2363 21.8346 21.1103 21.8589 21.4873C21.8589 21.7925 21.8589 22.0941 21.7009 22.1817C21.5172 22.2911 21.3363 22.1196 21.2025 21.8764Z"
      fill="#0072BB"></path>
  </svg>
</div>

<style>
  .contenedor:hover path {
    fill: white !important;
    transition: all 0.5s ease-in-out;
  }
</style>
